{% extends "RooTapp/base.html" %}

{% load static %}

{% block content %}
    <!-- Heading -->
    <section class="page-section clearfix">
        <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'RooTapp/img/principal.jpg' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
                <span class="section-heading-upper">Services</span>
                <span class="section-heading-lower">The best medicion service</span>
            </h2>
            <p class="mb-3">En la puertra de tu casa en menos de 48 h con el envío normal. En menos de 24 h con el envío express.
            </p>
            
            </div>
        </div>
        </div>
    </section>
    <div style="width: 80%; margin: auto; background-color: rgb(33, 44, 38);">
        <h2 style="color: black; vertical-align: middle; text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;">SERVICIOS</h2>
    </div>
    {% for servicio in servicios %}

    <section class="page-section clearfix">
        <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" style="width: 50%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
                <span class="section-heading-lower" style="color: rgb(145, 143, 143);" >{{servicio.titulo}}</span>
                <span class="section-heading-upper" style="color: rgb(23, 22, 24);">{{servicio.contenido}}</span>
            </h2>
            <p class="mb-3" style="color: teal;">-- No una más --
            </p>
            
            </div>
        </div>
        </div>
    </section>

    {% endfor %}

{% endblock %}