{% extends 'base.html' %}


{% block title %}
    Registrar departamento
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell align-center">Registrar nuevo departamento</h1>
            <form class="cell callout grid-x grid-margin-x" method="POST">{% csrf_token %}
                <h3 class="cell grid-x align-center">Datos empleado</h3>
                <div class="cell medium-6">
                    <label>Nombre:
                        {{form.nombre}}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>Apellidos:
                        {{form.apellidos}}
                    </label>
                </div>
    
                <h3 class="cell grid-x align-center">Datos del departamento</h3>
                <div class="cell medium-6">
                    <label>Departamento:
                        {{form.departamento}}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>Shorname:
                        {{form.shorname}}
                    </label>
                </div>
                <div class="grid-x large-12 align-center">
                    <button type="submit" class="button">Guardar</button>
                </div>
            </form>
            
            

        </div>
        
    </div>
{% endblock content %}
    
    

    


