<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    <h1>Registrar nuevo departamento</h1>

    <form method="POST">{% csrf_token %}
    <h3>Datos empleado</h3>
    <div>Nombre: <p>{{form.nombre}}</p></div>
    <div>Apellidos: <p>{{form.apellidos}}</p></div>
    <h3>Datos del departamento</h3>
    <div>Departamento: <p>{{form.departamento}}</p></div>
    <div>Shorname: <p>{{form.shorname}}</p></div>
    <button type="submit">Guardar</button>
</form>
</body>
</html>

