{% extends "RooTapp/base.html" %}

{% load static %}

{% block content %}
    <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'RooTapp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Contact</span>
            <span class="section-heading-lower">Ask us something</span>
          </h2>
          <p class="mb-3">En la puertra de tu casa en menos de 48 h con el envío normal. En menos de 24 h con el envío express.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  <div class="contenedorFormulario">
    {% if 'valido' in request.GET %}
          <p style="color: burlywood;">Información enviada correctamente. Nos pondremos en contacto a la brevedad.</p>
    {% elif 'novalido' in request.GET %}
          <p style="color: crimson;">La información no pudo ser enviada. Intente de nuevo o más tarde.</p>
    {% endif %}
    <form action="" method="POST" style="text-align: center;">
      {% csrf_token %}
      <table style="color: wheat; margin: 20px auto;">{{miFormulario.as_table}}</table>
      <input type="submit" value="Enviar" style="width: 150px;"></input>
    </form>
  </div>
  <p style="color: snow;">{{request.POST}}</p>

{% endblock %}